body {
       margin: auto;
       padding-top: 30px;
}

.centerText {
    text-align: center;
}

#YesNoButton {
    margin-right: 30px;
}

.pageTitle {
    font-size: 60px;    
}

p {
    font-size: 30px;
}