html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
  background: #cfe7fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cfe7fa 0%, #6393c1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe7fa', endColorstr='#6393c1', GradientType=0);
  /* IE6-9 */
  background-repeat: no-repeat;
}

#container {
  height: 800px;
}

#gameplay {
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

#mainTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight:400;
  margin:5px auto;
}
@media only screen and (max-width: 1000px) {
  .text-center, .container-fluid {
    display: none;
  }

  body, #container {
    height: auto;

  }

  body {
    background-image: url("../images/warning.jpeg");
    z-index: +1;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

#container {
  max-height: 80%;
}

#videobox {
  width: 500px;
  height: 100%;
  margin: 10px auto;
}

#imagebox {
    width: 500px;
    /*Height is placeholder only */
    height: 375px;
    margin: 10px auto;
}

#playbutton {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
#timer {
  font-size:50px;
  margin:0 auto;
}
#controls {
  margin:0 auto;
  width:200px;
}
#controls button {
  font-size:24px;
}
#gameNav {
    display: flex;
    right: 0;
    position:absolute;
}
#gameButton {
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 5px;
     top:0;
     right:0;
}
.char {
    margin: 15px;
}
#iconFooter {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dead {
    color: red;
}
